@import 'lib';

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.container{
  height: 100%;
}

#app{
  margin-top: 1em;
  width: 100%;
  height: 80%;
}

.cover{
  h1{
    text-align: center;
    margin-bottom: 1em;
  }

  .image{
    text-align: center;

    .cover-image{
      max-width: 300px;
    }
  }
}
