@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.vue-booklet{
  width: 100%;
  height: 100%;
  margin: 0.5em;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.book{
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all .8s;
  background-color: #BCA98A;
}

.book-control-buttons{
  text-align: center;
}

.book-control-button{
  display: inline-flex;
  width: 75px;
  height: 30px;
  z-index: 999;
  border-radius: 2px;
  color: #ffffff;
  background-color: #72B890;
  border-color: #72B890;
  font-size: 16px;
  transition: all 0.3s;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 1.5em;

  &:hover, &:focus{
    color: #ffffff;
    background-color: #759C86;
    border-color: #72B890;
  }
}

.closed{
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%);
}

.opened{
  -webkit-transform: translateX(-1vw);
  transform: translateX(-1vw);
}

.cover-before{
  position: absolute;
  width: 50%;
  height: 100%;
  color: #222;
  transform-origin: 0 50%;
  transition: transform .8s;
  background: none;
  background-color: white;
  top: 0;
  left: 0;
  border: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  .content{
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 5%;
    transform-origin: center center;
    backface-visibility: hidden;
    overflow: auto;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
}

.page{
  position: absolute;
  width: 50%;
  height: 100%;
  color: #222;
  background-color: white;
  top: 0;
  right: 0;
  transform-origin: 0 50%;
  transition: transform .8s;
  border: 1px solid #ddd;
  background: linear-gradient(to right, #d9d9d9 0%,#f9f9f9 3%,#ffffff 8%,#ffffff 100%);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  .content{
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 5%;
    transform-origin: center center;
    backface-visibility: hidden;
    overflow: auto;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

  }

  .content:nth-child(2){
    -webkit-transform: rotateY(180deg) translateZ(1px);
    -moz-transform: rotateY(180deg) translateZ(1px);
    transform: rotateY(180deg) translateZ(1px);
  }
}

.pages{
  position: relative;
  height: 100%;
}

.cover{
  background: none;
  background-color: #BCA98A;
}

.fliped{
  -webkit-transform: rotateY(-180deg) translateZ(1px);
  transform: rotateY(-180deg) translateZ(1px);
}

@media (max-width: 768px) {
  .book-control-buttons{
    display: none;
  }

  .book{
    background: none;
    -webkit-transform: none;
    transform: none;
  }

  .cover-before{
    display: none;
  }

  .page{
    position: static;
    width: 100%;
    display: block;
    background: none;
    margin-top: 0.5em;
  }

  .cover{
    background-color: #BCA98A;
  }
}
