.cover{
  background-color: #BCA98A;
}

.book-control-buttons{
  display: none;
}

.control-page{
  display: none;
}

.book{
  .page{
    .content{
      border: 1px solid #ddd;
      padding: 5%;
      margin-bottom: 0.5em;
      text-align: left;
    }
  }
}

.select-page-wrapper{
  display: none;
  margin-top: 1em;
  font-size: 1.2em;
  text-align: center;

  select{
    margin-left: 1em;
    width: 20%;
  }
}

.select-page-wrapper-mobile{
  display: block;
  text-align: center;
  font-size: 1.2em;
  margin-top: 1.2em;
  margin-bottom: 1em;

  select{
    margin-left: 1em;
    width: 20%;
  }
}

.page-number{
  display: none;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  text-align: center;
}

@media (min-width: 768px) {
  .vue-booklet{
    width: 100%;
    height: 100vh;
    max-height: 650px;
    margin: 0.5em;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .book{
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all .8s;
  }

  .control-page{
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100px;
    height: 100%;
    z-index: 99;
    transition: all .3s;
    opacity: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;

    &:hover{
      opacity: 0.5;
    }
  }

  .control-page-left{
    left: 0;
  }

  .control-page-right{
    right: 0;
  }

  .book-control-buttons{
    display: block;
    text-align: center;
  }

  .book-control-button{
    width: 75px;
    height: 40px;
    border: 0;
    border-radius: 2px;
    color: #ffffff;
    background-color: #72B890;
    font-size: 16px;
    transition: all 0.3s;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;

    &:hover, &:focus{
      color: #ffffff;
      background-color: #759C86;
      border-color: #72B890;
    }
  }

  .closed{
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }

  .closed-back{
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }

  .opened{
    -webkit-transform: translateX(-1vw);
    transform: translateX(-1vw);
  }

  .page-number{
    display: block;
  }

  .select-page-wrapper{
    display: block;
  }

  .select-page-wrapper-mobile{
    display: none;
  }

  .page{
    position: absolute;
    width: 50%;
    height: 100%;
    color: #222;
    background-color: white;
    top: 0;
    right: 0;
    transform-origin: 0 50%;
    border: 1px solid #ddd;
    background: linear-gradient(to right, #d9d9d9 0%,#f9f9f9 3%,#ffffff 8%,#ffffff 100%);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    .content{
      position: absolute;
      width: 100%;
      max-width: 100%;
      height: 100%;
      padding: 5%;
      border: none;
      transform-origin: center center;
      backface-visibility: hidden;
      overflow: auto;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;

      &:nth-child(1){
        -webkit-transform: translateZ(1px);
        -moz-transform: translateZ(1px);
        transform: translateZ(1px);
      }

      &:nth-child(2){
        -webkit-transform: rotateY(180deg) translateZ(1px);
        -moz-transform: rotateY(180deg) translateZ(1px);
        transform: rotateY(180deg) translateZ(1px);
      }
    }
  }

  .pages{
    position: relative;
    height: 100%;
  }

  .cover{
    background: none;
    background-color: #BCA98A;
  }

  .fliped{
    -webkit-transform: rotateY(-180deg) translateZ(1px);
    transform: rotateY(-180deg) translateZ(1px);
  }

  .progress{
    width:100%;
    height:20px;
    background-color: #ccc;
    overflow: hidden;
    cursor: pointer;
  }
  .left{
    height:100%;
    width: 30%;
    background-color: greenyellow;
    position: relative;
  }
  .ball{
    height:100%;
    width:20px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background-color: red;
    position: absolute;
    right: -10px;
  }
}

.back{
  background: none;
  background-color: #BCA98A;
}
